* {
	box-sizing: border-box;
}

:root {
	--fondoPrimario: #FCF7F8;
	--colorOscuro: #1A1E21;
	--azul: #3860EC;
}

body {
	background: var(--fondoPrimario);
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

ul {
	margin: 0;
}

.contenedor {
	max-width: 500px;
	width: 90%;
	padding: 30px;
	border-radius: 20px;
}

.titulo {
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	color: var(--colorOscuro);
	margin-bottom: 20px;
}

.grupo {
	padding: 60px 0;
	border-bottom: 1px solid rgba(0,0,0,.1);
}

label {
	display: block;
	margin-bottom: 10px;
}

.grupo div p,
.grupo div div,
.grupo div span,
.grupo ul li {
	background: #dbdbdb;
	padding: 10px;
}

/* ? ------------- PSEUDO-CLASES ------------- */

.enlace:active{
	background: #000;
}

.enlace:link{
	color: blue;
}

.enlace:visited{
	color: hotpink;
}

.enlace:hover{
	color: orange;
}

/* ? --- --- --- --- PARRAFOS --- --- --- --- */

.parrafos p:first-child{
	background: var(--azul);
	color: #FCF7F8;
}

.parrafos p:last-child{
	background: black;
	color: #FCF7F8;
}


/* ? --- --- --- --- ELEMENTOS --- --- --- --- */

.elementos p:first-of-type{
	background: greenyellow;
	color: lightcoral;

}

.elementos div:last-of-type{
	background: cadetblue;
	color:  darkmagenta;

}


/* ? --- --- --- --- LISTA --- --- --- --- */

.lista :nth-child(2){

	background: cadetblue;
	color:  white;

}

.lista :nth-last-child(3){

	background: cadetblue;
	color:  white;

}



/* ? --- --- --- --- LISTA 2 --- --- --- --- */

.lista2 p:nth-of-type(2){
	background: cadetblue;
	color:  white;

}

.lista2 div:nth-last-of-type(2){
	background: cadetblue;
	color:  white;

}



/* ? --- --- --- --- LISTA 3 --- --- --- --- */

.lista3 p:only-child{

	background: cadetblue;
	color:  white;

}



/* ? --- --- --- --- LISTA 4 --- --- --- --- */

.lista4 p:only-of-type{

	background: cadetblue;
	color:  white;
}
